/* Your Custom CSS Goes here */
.btn-success{
    background-color: #86b535;
    border-color: #86b535;
}
.btn-success:hover, .btn-success.focus, .btn-success:focus, .btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show>.btn-success.dropdown-toggle {
    color: #fff;
    background-color:#769f2f;
    border-color: #769f2f;
}
a{
    color: #86b535;
}
a:hover, a:active, a:focus{
    color: #769f2f;
}